doctype html
html(lang="en")
  include ../shared/head

  body
    include ../shared/header

    .container
      #notificationDiv

      block content

    include ../shared/footer

    include ../shared/notification
