extends ../layouts/application

block content
  table.table.table-hover
    thead
      tr
        th Viewed
        th Url
        th Date
        th Tags
        th 
    tbody
    for link in links
      include singleLink

  script( src='javascripts/linkList.js')
